.advisor-reports-form {
    margin-bottom: 15px;
}

.advisor-reports-form input {
    margin-bottom: 15px;
}
.organization-advisors-table .nothing-found{
    text-align: center;
    padding: 25px;
}

