body {
	background: #f2f2f2;
	margin-top: 152px;
}

h5 {
	text-decoration: underline;
}

.breadcrumb {
	background: #f9f9f9;
}

button {
	z-index:2;
}

input[type=checkbox][readonly] {
	cursor: not-allowed;
}

fieldset {
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 1.7rem 3rem 1.9rem 3rem;
	margin: 7rem 0;
	position: relative;
}

fieldset legend {
	position: absolute;
	top: -35px;
	left: 3px;
	font-size: 2.5rem;
	color: #363636;
	border: none;
}

fieldset legend small {
	position: absolute;
	top: 16px;
	right: 4px;
	font-size: 1.2rem;
}

fieldset.collapsable {
	background: none;
	border: none;
}
fieldset.collapsable legend hr {
	border: 1px solid #e0e0e0;
	margin-top: 10px;
}
fieldset.collapsable legend div.collapsableToggle {
	margin-right: 5px;
}

.shortcut-list {
	padding: 0;
	margin-top: -4px;
}

.shortcut-list .btn-link {
	text-align: left;
	white-space: initial;
	padding: 0;
}

.btn.btn-link {
	overflow: visible;
	width: 100%;
}

.btn-group .radio-inline, .btn-group-vertical .radio-inline {
	padding: 0;
	margin: 0;
}

.btn-group .radio-inline input, .btn-group-vertical .radio-inline input {
	display: none;
}

.header-content {
	margin-left: 10%;
	width: 55%;
}

.header-content > * {
	margin: 0;
	padding: 0;
}

.nprogress-custom-parent .bar {
	top: 130px !important;
}

.nprogress-custom-parent .peg {
	transform: rotate(-3deg) translate(0px, 4px) !important;
}

.nprogress-custom-parent .spinner {
	top: 104px !important;
	right: 8px !important;
}

.graphiql-container {
	min-height: 600px;
}

.todo {
	background-color: red;
}

.home-tile-row {
	padding: 0 0 0 0
}

.home-tile {
	text-align: center;
	color:#5c5c5c;
	padding-top:20px;
	padding-bottom:20px;
}
.home-tile a {
	color:#5c5c5c;
	text-decoration: none;
}
.home-tile h1 {
	font-weight: 900;
}
.home-tile:hover {
	background-color: #dae3ee;
}

.person-icon {
	margin-right:4px;
}

.primary-attendee .checkbox {
	padding: 0;
	margin: 0;
	text-align: center;
}

.loading .anet section {
	visibility: hidden;
}

.loading .anet section:before {
	content: "Loading...";
	visibility: visible;
	font-size: 2rem;
}
