body {
	background: #f2f2f2;
	margin-top: 152px;
}

.container {
	max-width: 1024px;
}

h5 {
	text-decoration: underline;
}

.breadcrumb {
	background: #f9f9f9;
}

button {
	z-index:2;
}

input[type=checkbox][readonly] {
	cursor: not-allowed;
}

fieldset {
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 1.25em;
	margin: 7rem 0;
	position: relative;
}

fieldset legend {
	position: absolute;
	top: -35px;
	left: 3px;
	font-size: 2.5rem;
	color: #363636;
	border: none;
}

fieldset legend small {
	position: absolute;
	top: 16px;
	right: 4px;
	font-size: 1.2rem;
}

fieldset .pagination {
	margin: 0;
}

fieldset .negative-bottom {
	margin-bottom: -20px;
}

fieldset .help-text {
	margin: 0 0 2rem 5rem;
}

fieldset.collapsable {
	background: none;
	border: none;
}
fieldset.collapsable legend hr {
	border: 1px solid #e0e0e0;
	margin-top: 10px;
}
fieldset.collapsable legend div.collapsableToggle {
	margin-right: 5px;
}

.input-group {
	width: 100%;
}

.form-control-icon {
	position: absolute;
	top: 4px;
	right: 2rem;
	height: 26px;
	z-index: 2;
	opacity: 0.5;
}

.input-group .form-control-icon {
	right: 5rem;
}

.react-autosuggest__suggestions-list {
	max-height: 231px;
	overflow-y: scroll;
}

.shortcut-list {
	padding: 0;
	margin-top: -4px;
}

.shortcut-list .btn-link {
	text-align: left;
	white-space: initial;
	padding: 0;
}

.btn.btn-link {
	overflow: visible;
	width: 100%;
}

.btn-group .radio-inline, .btn-group-vertical .radio-inline {
	padding: 0;
	margin: 0;
}

.btn-group .radio-inline input, .btn-group-vertical .radio-inline input {
	display: none;
}

.header .logo img, .header input, .header button {
	height: 38px;
}

.header button {
	font-weight: bold;
}

.header .row > div * {
	margin: 0;
}

.nprogress-custom-parent .bar {
	top: 130px !important;
}

.nprogress-custom-parent .peg {
	transform: rotate(-3deg) translate(0px, 4px) !important;
}

.nprogress-custom-parent .spinner {
	top: 104px !important;
	right: 8px !important;
}

.graphiql-container {
	min-height: 600px;
}

.todo {
	background-color: red;
}

.home-tile-row {
	padding: 0;
}

.home-tile-row .row {
	display: table;
}

a.home-tile {
	display: table-cell;
	float: none;
	vertical-align: top;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #5c5c5c;
	text-decoration: none;
}
.home-tile h1 {
	font-weight: 900;
}

.home-tile:hover {
	background: #dae3ee;
}

.person-icon {
	margin-right: 4px;
}

.primary-attendee .checkbox {
	padding: 0;
	margin: 0;
	text-align: center;
}

.loading .anet section {
	visibility: hidden;
}

.loading .anet section:before {
	content: "Loading...";
	visibility: visible;
	font-size: 2rem;
}

.nav img {
	width: 16px;
	margin-right: 6px;
}

.nav .nav > li {
	border-left: 4px solid rgba(0,0,0,0);
}

.nav .nav > li a {
	padding: 4px 0 4px 38px;
}

.nav .nav > li.active  {
	border-left:4px solid #1772B8;
}

.form-bottom-submit {
	text-align: center;
	margin: -30px 0 40px 0;
}

.form-bottom-submit button {
	font-size: 2.3rem;
	width: 35%;
}

.report-approval .form-group {
	margin: 24px;
}

.report-approval textarea {
	width: 100%;
}

.report-approval .right-button {
	float: right;
	margin-right: 24px;
}

.report-approval button {
	margin-left: 24px;
}

.report-collection header {
	margin-bottom: 18px;
}

.report-summary {
	margin-top: 18px;
	padding-top: 18px;
	border-top: 1px solid #ccc;
}

.report-summary .read-full {
	float: right;
	margin-top: -38px;
}

.onboarding-new {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.onboarding-new h1, .onboarding-new p, .onboarding-new button {
	text-align: center;
}

.onboarding-new h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 36px;
}

.onboarding-new p {
	font-size: 16px;
	margin-bottom: 24px;
}

.onboarding-new .help {
	margin-top: 36px;
}

.onboarding-new .help p {
	font-size: 12px;
	color: #999;
	margin-bottom: 0px;
}

.onboarding-new .create-account-button-wrapper {
	text-align: center;
}

.onboarding-new .role {
	text-transform: uppercase;
}

.getting-started-grid {
	padding-left: 0;
	padding-right: 0;
}

.getting-started-grid .row  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.getting-started-grid .row:first-child {
	margin-bottom: 20px;
}

.getting-started-grid .row:last-child {
	margin-top: 20px;
}

.getting-started-grid .row h3,button {
	margin-top: 0;
	margin-bottom: 0;
}

.getting-started-grid .row h3 {
	font-size: 16px;
}

.getting-started-grid .row button {
	font-size: 12px;
}

.getting-started-grid {
	padding-top: 15px;
	padding-bottom: 15px;
}

.getting-started-grid a {
	font-weight: bold;
}

.getting-started-grid p {
	margin-bottom: 0;
}

.middle-header {
	text-align: center;
}

.attendeeTableRow td {
	border-top: 0px !important;
}
hr.attendeeDivider {
	margin: 0px;
}

.report-cancelled {
	border-left: 1.5rem solid #DA9795;
	padding-left: 1rem;
}

.report-form fieldset:not(:first-child) legend {
	font-size: 2rem;
}
