<h1>Listing Billets</h1>

<table>
<tr><th>id</th><th>name</th><th>aoId</th></tr>
{{#billets}}
	<tr>
		<td>{{id}}</td>
		<td>{{name}}</td>
		<td>
			{{#advisorOrganization}}
				{{advisorOrganization.name}}
			{{/advisorOrganization}}
		</td>
	</tr>
{{/billets}}
</table>
