<html>
<body>

<h1>
{{#person}}
	Editing {{person.firstName}}
{{/person}}
{{^person}}
	Create a new Person
{{/person}}
</h1>

<form method=POST >
	First Name: <input type="text" name="firstName" /><br>
	Last Name: <input type="text" name="firstName" /><br>
	<input type="submit" value="Save" />
</form>

</body>
</html>