{{> ../template/header}}
<h1>Listing Reports</h1>
<a href="/reports/new">Create New Report</a>
<table>
<tr><th>id</th><th>summary</th></tr>
{{#reports}}
	<tr>
		<td><a href="/reports/{{id}}">{{id}}</a></td>
		<td>
		{{#exsum}}
			{{exsum}}	
		{{/exsum}}
		{{^exsum}}
			{{author.name}} met with [PRINCIPAL NAME] at 
			{{#location}}{{location.name}}{{/location}}{{^location}}<i>location missing</i>{{/location}}
			on {{createdAt}} to discuss [POAM NAME]. 
		{{/exsum}}
		</td>
	</tr>
{{/reports}}
</table>

{{> ../template/footer}}
