.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* do not display tick marks on y-axis */
.y.axis line {
  display: none;
}

/* do not display tick labels on y-axis */
.y.axis text {
  fill: none;
}

.category-0 {
  fill: #689f38;
}
.category-1 {
  fill: #ffc107;
}

.category-label, .bar-label {
  fill: #000;
}
