.report-summary h2.legend {
	display: none;
}

fieldset.approval-fieldset .approval-details {
	text-align: center;
}

fieldset.approval-fieldset .approval-action {
	position: relative;
	display: inline-block;
	padding-right: 18px;
	margin-top: 3px;
	vertical-align: top;
}

fieldset.approval-fieldset .approval-action .btn-pending {
	background-color: #969696;
	color: #fff;
}

fieldset.approval-fieldset .approval-action .btn-pending:hover {
	background-color: #777;
	color: #fff;
}

fieldset.approval-fieldset .approval-action .btn {
	border-radius: 30px;
}

fieldset.approval-fieldset .approval-action button::after {
	position: relative;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\e092";
	color: #777;
	width: 18px;
	height: 18px;
	top: 3px;
	right: -26px;
}

fieldset.approval-fieldset :last-child button::after {
	content: "";
}

fieldset.approval-fieldset.compact{
	border: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1rem;
	padding: 0.25em 0.75em 0.75em 0em
}

.modal-content .modal-footer .label {
	font-size: 90% !important;
}

.modal-content .modal-footer .approved {
	background-color: #5cb85c;
}

.modal-content .modal-footer .pending {
	background-color: #777;
}

.modal-content .modal-footer .rejected {
	background-color: #c23030;
}

.approval-status{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
