{{> ../template/header.mustache }}
<h1>
{{#id}}
	Editing {{firstName}}
{{/id}}
{{^id}}
	Create a new Person
{{/id}}
</h1>

<form id="personForm" >
First Name: <input type="text" name="firstName" value="{{firstName}}" /><br>
Last Name: <input type="text" name="lastName" value="{{lastName}}"  /><br>
Email Address: <input type="text" name="emailAddress" value="{{emailAddress}}" /><br>
Phone Number: <input type="text" name="phoneNumber" value="{{phoneNumber}}" /><br>
Rank: <input type="text" name="rank" value="{{rank}}" /><br>
Bio: <textarea name="biography" >{{biography}}</textarea><br>
Status: <select name="status" >
	<option value="ACTIVE">Active</option>
	<option value="INACTIVE">Inactive</option>
</select><br>
Role: <select name="role">
	<option value="PRINCIPAL">Principal</option>
	<option value="ADVISOR">Advisor</option>
	<option value="USER">User</option>
</select><br>
{{#id}}
<input type="hidden" name="id" value="{{id}}" />
{{/id}}
</form>
<input type="submit" value="Save" id="personSaveBtn" />

<script type="text/javascript">
$(document).ready(function() {
	{{#id}}
		var url = '/people/update'
	{{/id}}
	{{^id}}
		var url = '/people/new'
	{{/id}}

	$("#personSaveBtn").on('click', function (event) { 
		$.ajax({ 
			url: url, 
			method: 'POST',
			contentType: 'application/json',
			data: jsonForm("personForm")
		}).done(function (response) {
			{{#id}}
				window.location = "/people/{{id}}"
			{{/id}}
			{{^id}}
				window.location = "/people/" + response.id;
			{{/id}}
		});
	});
});
</script>

{{> ../template/footer.mustache}}
