{{> ../template/header.mustache}}
<h1>Listing People</h1>
<table>
<tr><th>id</th><th>first</th><th>last</th><th>email</th><th>Status</th><th>Rank</th><th>Role</th></tr>
{{#people}}
	<tr>
	<td>{{id}}</td>
	<td>{{firstName}}</td>
	<td>{{lastName}}</td>
	<td>{{emailAddress}}</td>
	<td>{{status}}</td>
	<td>{{rank}}</td>
	<td>{{role}}</td>
	<td><a href="/people/{{id}}/edit">[Edit]</a></td>
{{/people}}
</table>
{{> ../template/footer.mustache}}
