<!DOCTYPE html>
<html>
<body>
<link href="/assets/css/select2.min.css" rel="stylesheet" />
<script src="/assets/js/jquery.js" ></script>
<script src="/assets/js/select2.min.js"></script>

Type in a person's name: <select id="searchSelect" ></select>

<script type="text/javascript">
$(document).ready(function () { 
	$("#searchSelect").select2({
		ajax: {
			url: "/people/search",
			dataType: 'json',
			delay: 250,
			method: 'GET',
			data: function(params) { 
				return { q : params.term } 
			},
			processResults :  function(data, params) { 
				var names = [];
				for (i in data) { 
					names.push({ 
						id: data[i]["id"], 
						text : data[i]["firstName"] + " " + data[i]["lastName"]
					});
				}
				return { results: names };
			}
		},
		minimumInputLength : 1
	
	});
});
</script>
<style>
#searchSelect { 
	width: 200px; 
}
</style>
</body>
</html>
